VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_DEMO_MODE=true
VITE_TRACE_VIDEO_URL=https://1drv.ms/v/c/54827174f18c3094/IQDPqU3R3LRNRKrLfp4orOcdAZEA3OXpOJRdiIJKorQZnI0?e=eaB4yb
