VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_DEMO_MODE=true
VITE_TRACE_VIDEO_URL=https://abgielctqjvdjcrlddis.supabase.co/storage/v1/object/public/izuba-media/farm-to-fork-web.mp4
